@import "~leaflet/dist/leaflet.css";

$dzm-rounded-radius: 0.5em;

$dzm-controls-border: solid 1px #000;
$dzm-controls-background: #eee;

$dzm-input-border: solid 1px #000;
$dzm-input-background: #fff;

$dzm-gutter: 1em;
$dzm-small-gutter: 0.5em;

.dayz-map {

    position: relative;

    width: 100vw;
    height: 100vh;

    select, button {
        border: $dzm-input-border;
        background: $dzm-input-background;
        border-radius: 0.25em;

        + & {
            margin-left: $dzm-small-gutter;
        }
    }

    &--controls {
        position: absolute;
        top: 0;
        right: 0;
        padding: $dzm-gutter;
        background: $dzm-controls-background;
        border-left: $dzm-controls-border;
        border-bottom: $dzm-controls-border;
        border-bottom-left-radius: $dzm-rounded-radius;
        z-index: 1000;
    }

    &--map {

        width: 100%;
        height: 100%;

        &--circle-marker {

            &--circle {
                width: 100%;
                height: 100%;
                border-radius: 100%;
            }

        }

        &--icon-marker {

            &--icon {
                position: absolute;
                top: 0;
                left: 0;
                width: 16px;
                height: 16px;
            }

        }

        &--place-name-marker {

            &--name {
                position: absolute;
                bottom: -0.5em;
                left: 0;
                transform: translateX(-50%);
                white-space: pre;
                text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff;
                font-weight: bold;

            }

        }

    }

}